In [19]:
source setup.tcl

In [20]:
aoc::get-puzzle 2020 1 1

(cached)

In [21]:
set input [aoc::get-input 2020 1];
jupyter::display text/plain [string range $input 0 100]...

(cached)

1470
1577
1054
1962
1107
1123
1683
1680
1176
1917
1786
1565
1464
1097
1363
1091
1072
1821
1514
1526
1...

display-id-10

In [22]:
aoc::get-puzzle 2020 1 2

(cached)

# Approach with 3SUM

In [23]:
proc parts input {
    set data [split [string trim $input] \n]
    set d1 false
    set d2 false
    foreach x $data {set h([expr 2020-$x]) 1}
    set l [llength $data]
    for {set i 0} {$i < $l} {incr i} {
        if {$d1 && $d2} {return [list $result1 $result2]}
        set x [lindex $data $i]
        if {!$d1 && [info exists h($x)]} {set result1 [expr {$x * (2020-$x)}] ; set d1 true}
         for {set j $i} {$j < $l} {incr j} {
            set y [lindex $data $j]
            set z [+ $x $y]
            if {!$d2 && [info exists h($z)] } {set result2 [expr {$x * $y * (2020 - $z)}]; set d2 true  }
        }
        
    }
}
aoc::results

Day1	618144
Day2	173538720
7978 microseconds per iteration